@media screen and ( max-width: 960px ) {
    :root {
        font-size: 8px;
    }

    .content {
        flex-direction: column-reverse;
    }

    .content .aside-container,
    .content .main-container {
        width: 100%;
        height: 100%;
    }
}